HTPCMANAGER_VHOST=htpcmanager.localhost
RUTORRENT_VHOST=rutorrent.localhost
RADARR_VHOST=radarr.localhost
SONARR_VHOST=sonarr.localhost
JACKETT_VHOST=jackett.localhost
COUCHPOTATO_VHOST=couchpotato.localhost
